body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  background-color: #fff;
  width: 1200px;
  min-height: 100vh;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* Обнуляем свойства списков по умолчанию */
.navigation > ul {
  margin: 0;
  list-style: none;
}