:root {
  --simple-text-color: #333;
  --recomendation-text-bgrnd-color: #eee;
  --recomendation-advice-bkrnd-color: #fff;
  --recomendations-inverse-bgrnd-color: #81B3D2;
  --recomendations-inverse-text-color: #fff;
  --button-color-1: #766357;
  --footer-bakgrnd-transparent-color: rgba(255, 255, 255, 0.9);
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  background-color: #fff;
  width: 1200px;
  min-height: 100vh;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.navigation {
  height: 70px;
  padding: 0 72px;
  display: flex;
  justify-content: space-between;
}

/* Обнуляем стили по умолчанию списков меню*/
.navigation > menu {
  margin: 0;
  list-style: none;
  padding: 15px 0 0;
  width: 100%;
}

/* Обнуляем стили по умолчанию ссылок меню*/
menu a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.left-navigation-menu {
  display: flex;
  flex-wrap: wrap;
}

.left-navigation-menu_item:not(:first-child)  {
  margin: 0 auto;
}

.right-navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.right-navigation-menu_item:not(:last-child)  {
  margin: 0 auto;
}

.banner {
  width: 1200px;
  height: 509px;
  background-image: url(../img/background\ photo.jpg);
  margin-top: -17px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.recomendations {
  padding-top: 42px;
}

.recomendations > .bold-text {
  margin: 0 0 44px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.recomendations > .simple-text {
  margin: 0 0 51px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--simple-text-color);
}

.recomendations-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.recomendations-list_item {
  display: flex;
}

.recomendation-text {
  width: 400px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--recomendation-text-bgrnd-color);
}

.recomendation-text__inverse {
  background-color: var(--recomendations-inverse-bgrnd-color);
  color: var(--recomendations-inverse-text-color);
}

.recomendation-text_heading {
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.recomendation-text_main-text {
  margin: 0 0 23px 0;
  font-size: 14px;
  line-height: 21px;
}

.recomendation-text_main-text__other-style {
  color: var(--simple-text-color);
}

.recomendation-img {
  background-color: var(--recomendations-inverse-bgrnd-color);
}

.recomendation-text__advice {
  height: 330px;
  background-color: var(--recomendation-advice-bkrnd-color);
}

.recomendation-icon {
  margin-bottom: 29px;
}

.recomendation-img {
  width: 800px;
  height: 256px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
}

.hotel-search > .bold-text {
  margin: 0 0 30px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.hotel-search > .simple-text {
  margin: 0 0 45px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--simple-text-color);
}

.hotel-search_button {
  width: 568px;
  height: 86px;
  border: none;
  color: var(--recomendations-inverse-text-color);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--button-color-1);
}

.map {
  width: 1200px;
  height: 594px;
  display: grid;
  grid-template-areas: 'map-area';
}

.map-img {
  grid-area: map-area;
}

.footer {
  width: 1200px;
  height: 120px;
  grid-area: map-area;
  margin-top: auto;
  background-color: var(--footer-bakgrnd-transparent-color);
  z-index: 100;
}