:root {
  --simple-text-color: #333;
  --navigation-link-text-color_hover: #81B3D2;
  --navigation-link-text-color_focus: #766357;
  --recomendation-text-bgrnd-color: #eee;
  --recomendation-advice-bkrnd-color: #fff;
  --inverse-bgrnd-color: #81B3D2;
  --inverse-bgrnd-color_hover: #669EC0;
  --inverse-bgrnd-color_active: #5496BD;
  --inverse-text-color: #fff;
  --inverse-text-opacity-color: rgba(255, 255, 255, 0.3);
  --dark-bgrnd-color: #766357;
  --dark-bgrnd-color__hover: #604E43;
  --dark-bgrnd-color__active: #503E33;
  --hotel-search_form-bckgrnd-color: #fff;
  --hotel-search-input-bckgrnd-color: #f2f2f2;
  --footer-bckgrnd-transparent-color: rgba(255, 255, 255, 0.9);
  --creators-logo-color_hover: #81B3D2;
  --creators-logo-color_active: #BDBBBC; 
}
* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  background-color: #fff;
  width: 1200px;
  min-height: 100vh;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.navigation {
  height: 70px;
  padding: 0 72px;
  display: flex;
  justify-content: space-between;
}

/* Обнуляем стили по умолчанию списков меню*/
.navigation > nav {
  margin: 0;
  list-style: none;
  padding: 15px 0 0;
  width: 100%;
}

/* Обнуляем стили по умолчанию ссылок меню*/
.navigation_link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.navigation_link:hover {
  color: var(--navigation-link-text-color_hover);
}

.navigation_link:active {
  color: var(--simple-text-color);
  opacity: 0.3;
}

.navigation_link:focus {
  color: var(--navigation-link-text-color_focus);
}

.left-navigation-menu {
  display: flex;
  flex-wrap: wrap;
}

.left-navigation-menu_item:not(:first-child)  {
  margin: 0 auto;
}

.right-navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.right-navigation-menu_item:not(:last-child)  {
  margin: 0 auto;
}

.banner {
  width: 1200px;
  height: 509px;
  background-image: url(../img/background\ photo.jpg);
  margin-top: -17px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.recomendations {
  padding-top: 42px;
}

.recomendations > .bold-text {
  margin: 0 0 44px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.recomendations > .simple-text {
  margin: 0 0 51px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: var(--simple-text-color);
}

.recomendations-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.recomendations-list_item {
  display: flex;
}

.recomendation-text {
  width: 400px;
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--recomendation-text-bgrnd-color);
}

.recomendation-text__inverse {
  background-color: var(--inverse-bgrnd-color);
  color: var(--inverse-text-color);
}

.recomendation-text_heading {
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.recomendation-text_main-text {
  margin: 0 0 23px 0;
  font-size: 14px;
  line-height: 21px;
}

.recomendation-text_main-text__other-style {
  color: var(--simple-text-color);
}

.recomendation-img {
  background-color: var(--inverse-bgrnd-color);
}

.recomendation-text__advice {
  height: 330px;
  background-color: var(--recomendation-advice-bkrnd-color);
}

.recomendation-icon {
  margin-bottom: 29px;
}

.recomendation-img {
  width: 800px;
  height: 256px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  position: relative;
}

.hotel-search > .bold-text {
  margin: 0 0 30px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.hotel-search > .simple-text {
  margin: 0 0 45px 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--simple-text-color);
}

.hotel-search_button {
  width: 568px;
  height: 86px;
  border: none;
  color: var(--inverse-text-color);
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--dark-bgrnd-color);
  cursor: pointer;
}

.hotel-search_button:hover {
  background-color: var(--dark-bgrnd-color__hover);
}

.hotel-search_button:active {
  background-color: var(--dark-bgrnd-color__active);
  color: var(--inverse-text-opacity-color);
}

.hotel-search-form {
  width: 568px;
  height: 394px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  grid-area: map-area;
  position: absolute;
  justify-self: center;
  background-color: var(--hotel-search_form-bckgrnd-color);
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* display: none;  */
}

.hotel-search-form_date-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 29px;
  width: 458px;
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.hotel-search-form_label-for-date-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-search-form_date-input {
  box-sizing: border-box;
  border: none;
  width: 325px;
  height: 38px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 8px 0 13px;
  background-color: var(--hotel-search-input-bckgrnd-color);
}

.hotel-search-form_date-input::-webkit-calendar-picker-indicator { 
  width: 21px;
  height: 23px;
  background-image: url(../img/calendar.svg);
  cursor: pointer;
}

.hotel-search-form_date-input::-webkit-calendar-picker-indicator:hover { 
  background-image: url(../img/calendar__hover.svg);
}

.hotel-search-form_date-input::-webkit-calendar-picker-indicator:active { 
  background-image: url(../img/calendar__active.png);
}

.hotel-search-form_number-of-guests-fieldset {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
  margin:0 0 54px 0;
  width: 458px;
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.hotel-search-form_label-for-number-of-guests-input {
  min-width: 180px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 26px;
  position: relative;
}

.hotel-search-form_label-for-number-of-guests-input:first-of-type {
  width: 246px;
}

.number-of-guests-input {
  width: 114px;
  height: 38px;
  border: none;
  background-color: var(--hotel-search-input-bckgrnd-color);
  text-align: center;
  -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
  padding: 0 40px;
  font-size: 14px;
  font-weight: 700;
}

.number-of-guests-input::-webkit-inner-spin-button,
.number-of-guests-input::-webkit-outer-spin-button {
  display: none;
}

.number-minus {
  position: absolute;
  padding: 0;
  width: 12px;
  height: 12px;
  border: none;
  background-image: url(../img/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  right: 89px;
  top: 13px;
  cursor: pointer;
}

.number-minus:hover {
  background-image: url(../img/minus__hover.svg);
}

.number-minus:active {
  background-image: url(../img/minus__active.svg);
}

.number-plus {
  position: absolute;
  padding: 0;
  width: 11px;
  height: 11px;
  border: none;
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  right: 18px;
  top: 14px;
  cursor: pointer;
}

.number-plus:hover {
  background-image: url(../img/plus__hover.svg);
}

.number-plus:active {
  background-image: url(../img/plus__active.svg);
}

.hotel-search-form_submit-button {
  border: none;
  width: 458px;
  height: 58px;
  background-color: var(--inverse-bgrnd-color);
  text-transform: uppercase;
  color: var(--inverse-text-color);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;
}

.hotel-search-form_submit-button:hover {
  background-color: var(--inverse-bgrnd-color_hover);
}

.hotel-search-form_submit-button:active {
  background-color: var(--inverse-bgrnd-color_active);
  color: var(--inverse-text-opacity-color);
}

.map-grid {
  display: grid;
  grid-template-areas: 'map-area';
  position: relative;
}

.map {
  width: 1200px;
  height: 594px;
  background-image: url(../img/map.png);
  grid-area: map-area;
}

.footer {
  width: 1200px;
  height: 120px;
  margin-top: auto;
  background-color: var(--footer-bckgrnd-transparent-color);
  grid-area: map-area;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-tel {
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-tel_text {
  margin: 0 0 10px 0;
}

.footer-social {
  width: 400px;
}

.footer-social_list {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  justify-content: center;
  align-items: center;
}

.footer-social_item {
  width: 46px;
  height: 48px;
}

.footer-social_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--inverse-bgrnd-color);
}

.footer-social_link:hover {
  background-color: var(--inverse-bgrnd-color_hover);
}

.footer-social_link:active {
  background-color: var(--inverse-bgrnd-color_active);
}

.footer-social_link:active .footer-social_logo {
  opacity: 0.3;
}

.footer-creators {
  width: 327px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.footer-creators_text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.footer-creators svg:hover path {
  fill: var(--creators-logo-color_hover);
}

.footer-creators svg:active path {
  fill: var(--creators-logo-color_active);
}